<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Snorlax</title>
    <link rel="shortcut icon" href="../img/snorlax.png" type="image/x-icon">
</head>

<body style="font-family: 'Fredoka One', cursive;">
    <h1>Snorlax</h1>
    <img style="width: 25%;" src="../img/snorlax.png" alt="snorlax">
    <p>Tipo: <span style="background-color: white; padding: 5px;border-radius: 15px;">normal</span></p>
</body>

</html>