<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Squirtle</title>
    <link rel="shortcut icon" href="../img/squirtle.png" type="image/x-icon">
</head>

<body style="font-family: 'Fredoka One', cursive; background-color: aquamarine;">
    <h1>Squirtle</h1>
    <img style="width: 25%;" src="../img/squirtle.png" alt="squirtle">
    <p>Tipo: <span style="background-color: white; padding: 5px;border-radius: 15px;">agua</span></p>
    <br>
    <p style="font-family: 'Fredoka One', cursive; color: black;">Descripción:</p>
    <p style="font-family: 'Fredoka One', cursive; color: black;">Squirtle. Esta tortuguita Pokémon esconde su largo cuello en su caparazón para lanzar una cantidad increíble de agua con un alcance y precisión sorprendentes. Los chorros pueden ser muy potentes.</p>
    <br>
    <p style="font-family: 'Fredoka One', cursive; >Inicio </p>

</body>

</html>